body {
    color: Black;
}

.patients {
    border: thin solid black;
}

.patientHeader {
    text-align: center;
    font-style: italic;
    color: Snow;
    background: Teal;
}

.patientFooter {
    font-size: 0.75em;
    text-align: center;
    background: PowderBlue;
}

.id {
    height: 25px;
    text-align: center;
    background: MediumTurquoise;
}

.column {
    text-align: left;
}

.oddrow{
    text-align:center;
    background:#FFFFFFF;
}

.evenrow{
    text-align:center;
    background:#33FF99;
}
