<!DOCTYPE html>
<!-- Master/Detail display page -->
<!-- February 14, 2017 -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <h:outputStylesheet library="css" name="styles.css" />
        <title>#{msgs.pagetitleJPA}</title>
    </h:head>
    <h:body>
        <!-- outer loop retrives all patients -->
        <ui:repeat value="#{thePatients.patients}" var="aPatients">

            <!-- Display the current patient in the outer loop -->
            <h:dataTable  value="#{aPatients}" var="aPatient"
                          styleClass="patients" headerClass="patientHeader"
                          columnClasses="patientid" rowClasses="oddrow,evenrow">
                <h:column>
                    <f:facet name="header">#{msgs.patientid}</f:facet>
                        #{aPatient.patientid}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.lastname}</f:facet>
                        #{aPatient.lastname}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.firstname}</f:facet>
                        #{aPatient.firstname}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.diagnosis}</f:facet>
                        #{aPatient.diagnosis}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.admissiondate}</f:facet>
                        #{aPatient.admissiondate}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.releasedate}</f:facet>
                        #{aPatient.releasedate}
                </h:column>
            </h:dataTable>

            <!-- Loop through all inpatient records of current patient -->
            <h:dataTable value="#{aPatients.inpatientList}" var="inpatient"
                         styleClass="patients" headerClass="patientHeader"
                         columnClasses="patientid" rowClasses="oddrow,evenrow">
                <h:column>
                    <f:facet name="header">#{msgs.id}</f:facet>
                        #{inpatient.id}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.dateofstay}</f:facet>
                        #{inpatient.dateofstay}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.roomnumber}</f:facet>
                        #{inpatient.roomnumber}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.dailyrate}</f:facet>
                        #{inpatient.dailyrate}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.supplies}</f:facet>
                        #{inpatient.supplies}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.services}</f:facet>
                        #{inpatient.services}
                </h:column>
            </h:dataTable>

            <!-- Loop through all medication records of current patient -->
            <h:dataTable value="#{aPatients.medicationList}" var="medication"
                         styleClass="patients" headerClass="patientHeader"
                         columnClasses="patientid" rowClasses="oddrow,evenrow">
                <h:column>
                    <f:facet name="header">#{msgs.id}</f:facet>
                        #{medication.id}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.dateofmed}</f:facet>
                        #{medication.dateofmed}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.med}</f:facet>
                        #{medication.med}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.unitcost}</f:facet>
                        #{medication.unitcost}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.units}</f:facet>
                        #{medication.units}
                </h:column>
            </h:dataTable>

            <!-- Loop through all surgical records of current patient -->
            <h:dataTable value="#{aPatients.surgicalList}" var="surgical"
                         styleClass="patients" headerClass="patientHeader"
                         columnClasses="patientid" rowClasses="oddrow,evenrow">
                <h:column>
                    <f:facet name="header">#{msgs.id}</f:facet>
                        #{surgical.id}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.dateofsurgery}</f:facet>
                        #{surgical.dateofsurgery}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.surgery}</f:facet>
                        #{surgical.surgery}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.roomfee}</f:facet>
                        #{surgical.roomfee}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.surgeonfee}</f:facet>
                        #{surgical.surgeonfee}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msgs.supplies}</f:facet>
                        #{surgical.supplies}
                </h:column>
            </h:dataTable>
            <!-- Add some blank lines between patients -->
            <br/><br/>
        </ui:repeat>
    </h:body>
</html>
